@{
    ViewData["Title"] = "Login Form";
}

<div class="content">
    <form method="post" asp-controller="Home">
        <p>
            <label>Никнейм: </label> <br />
            <input type="text" name="nickname" />
            <br />
        </p>
        <p>
            <label>Пароль: </label> <br />
            <input type="password" name="password" />
            <br />
        </p>
        <input type="submit" />
    </form>
</div>

<style>


</style>